.trend-arrows {
  margin-left: 5px;
}

.delta {
  margin-left: 5px;
}

.elapsed {
  color: #888888;
  margin-left: 5px;
}

.elapsed-stale {
  margin-left: 5px;
  color: white;
  background-color: #624f47;
  border-radius: 4px;
  padding: 0 4px;
}

.dropdown-icon {
  width: 1em;
  height: 1em;
}

.very-low-glucose,
.low-glucose,
.very-high-glucose,
.high-glucose {
  color: black;
  border-radius: 4px;
  padding: 0 4px;
}

.very-low-glucose {
  background-color: fuchsia;
}

.low-glucose {
  background-color: red;
}

.very-high-glucose {
  background-color: orange;
}

.high-glucose {
  background-color: gold;
}
