.trend-arrows {
  margin-left: 5px;
}

.delta {
  margin-left: 5px;
}

.elapsed {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 5px;
}

.elapsed-stale {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0 4px;
}

.very-low-glucose,
.low-glucose,
.very-high-glucose,
.high-glucose {
  color: black;
  border-radius: 4px;
  padding: 0 4px;
}

.very-low-glucose {
  background-color: fuchsia;
}

.low-glucose {
  background-color: red;
}

.very-high-glucose {
  background-color: orange;
}

.high-glucose {
  background-color: gold;
}
